body {
	font-family: Arial;
	padding: 20px;
	background: #f1f1f1;
}
ul {
	overflow: hidden;
	list-style-type: none;
	background-color:#333;
	margin:0;
	padding:0;
}
li{
	float:left;
	display:inline;
	font-size:25px;
}
ul li img {
	float:left;
	margin-left:385px;
}
li a{
	text-decoration:none;
	padding: 15px 15px;
	display:block;
	color:#ddd;
}
li a:hover{
	background-color:#ddd;
	color:black;
}
.container{
	margin-top: 10px;
	margin-bottom: 10px;
	width:100%;
	background-color:#ddd;
	height:1080px;
	
}
.up {
	position:fixed;
	bottom:0;
	right:0;
}
.footer{
	background-color:#A3774D;
	height:100px;
	padding:40px 10px 40px 10px;
	
}

